.form-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.form-grid select,
.form-grid input {
  padding: 8px;
  font-size: 14px;
  min-width: 120px;
}

.form-grid button {
  padding: 8px 16px;
  background: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
   transition: background 0.3s ease;
}
.view-all-btn {
  padding: 8px 16px;
  font-size: 0.85rem;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-all-btn:hover {
  background-color: #125ea6;
}


.form-grid button:hover {
  background: #0d47a1;

}

.table-container {
  max-width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

thead {
  background-color: #e0e0e0;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}
td button {
  padding: 5px 12px;
  margin: 0 4px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  transition: background 0.3s ease;
}

td button:hover {
  opacity: 0.9;
}

td button:nth-child(1) {
  background-color: yellowgreen;
  color: #333;
}

td button:nth-child(1):hover {
  background-color: yellowgreen;
}


td button:nth-child(2) {
  background-color: #ef5350; 
  color: #fff;
}

td button:nth-child(2):hover {
  background-color: #e53935;
}
